html{
  background-color: #152a4a;
}

.App {
  text-align: center;
  /* align-items: center;
  flex-direction: column;
  display: flex;
  background-color: #282c34; */
}

/* .App-link {
  color: #61dafb;
} */

.outer {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
  background-color: #152a4a; 
}

.inner {
  width: 750px;
  margin: auto;
  margin-top: 2%;
  background: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 40px 55px 45px 55px;
  border-radius: 15px;
  transition: all .3s;
}

.link {
  margin-left: 0px;
}

.navbar-light {
  background-color: #ffffff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
}

.inner .form-control:focus {
  border-color: #167bff;
  box-shadow: none;
}

Nav {
  /* margin: auto; */
  /* margin-left: 50px; */
}